.tag {
	display: inline-block;

	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	border-radius: 20px;
}

.s {
	padding: 5px 10px;

	font-size: 16px;
	line-height: 16px;
}

.m {
	padding: 10px 15px;

	font-size: 20px;
	line-height: 20px;
}


