.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: 5px;

}

.small {
	font-size: 18px;
}

.medium {
	font-size: 30px;
}

.large {
	font-size: 50px;
}

.primary {
	color: white;
	background-color: #7351F5;
}

.primary:hover {
	background-color: #6344DF;
}

.ghost {
	color: white;
	border: 1px solid #EBEBEB;
	background: none;
}

.ghost:hover {
	color :white;
	background-color: #7351F5;
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}

.down {
	transition: all 0.2s;
	transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
	fill: white;
}
