.skills {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.cell {
    width: 100%;
    display: grid;
    grid-template-columns: auto 200px;
    margin: 10px;
}